/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// Navigation bar
$navbar-bg: #181818;

// Fonts
$font-family-sans-serif:      IBM Plex Sans, sans-serif !default;
$font-family-serif:           Barlow, serif !default;   /* Not actually a serif font but whatever */
$font-family-monospace:       JetBrains Mono, !default;
$headings-font-family:        Fira Sans Condensed, sans-serif !default;

$font-size-base:              1rem !default;
$headings-font-weight:        700 !default;

$h1-font-size: $font-size-base * 2.45;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 0.95rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.95rem;
$footer-font-size: 0.9rem;